RewriteEngine on
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.runveteransmarathon.com/$1 [R,L]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "runveteransmarathonwp.com"
</IfModule>
