.navbar {
    top: 0;
    margin-left: 15%;
    width: 70%;
    min-height: 70px;
}

.parent-nav {
    z-index: 10001;
}

.dropdown-menu {
    top: unset;
    left: unset;
}

.home-title {
    color: #001f3f;
    display: inline;
}

.home-title-date {
    color: #001f3f;
    text-align: right;
    width: 100%;
    font-weight: bold;
}

.price-table td, th {
    padding-right: 30px;
}

.section-image-wrapper {
    height: 55vw;
    background-image: url('/images/backgroundv5.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #464646;
}

.banner-wrapper {
    color: #464646;
}

.banner-wrapper img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .section-image-wrapper {
        background-image: url('/images/background-mobile.jpg');
    }
}

.heading-wrapper {
    background-color: #001f3f;
    margin-right: 5vw;
    padding: .5vw .5vw .5vw .5vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    display: block;
}

.section-wrapper {
    width: 70%;
    margin: auto;
}

svg {
    padding-left: .25vw;
}

.results-wrapper {
    display: table;
}

table.results-table {
    word-break: normal;
}

table.results-table td {
    border-right: #a8a4a3 1px solid;
    border-left: #a8a4a3 1px solid;
}

table.results-table th {
    border-bottom: #a8a4a3 1px solid;
}

table.results-table tr:nth-child(even) {
    background-color: #c4c0bf;
}

.thank-you-heading {
    padding: 10px;
    height: 130px;
    background-color: #f8f9fa;
}

.sponsor-padding {
    padding-bottom: 200px;
}

.thank-you-heading img {
    max-height: 60px;
}

.carousel-indicators {
    height: 10px;
    margin-bottom: 10px;
}
.carousel-control-prev {
    width: 0;
    height: 0;
    background-image: none;
}
.carousel-control-next {
    width: 0;
    height: 0;
    background-image: none;
}
.carousel-indicators li {
    background-color: #747373;
}

a.social {
    padding-left: 10px;
}

a.social:hover path {
    fill: #808080;
}

.info-message {
    background-color:#ccccff;
}
