body {
    margin: 0;
    font-family: 'Roboto Condensed', Helvetica, Arial, Lucida, sans-serif;
}

.banner-wrapper {
    height: 55vw;
    background-image: url('/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #464646;
}

@media only screen and (max-width: 767px) {
    .banner-wrapper {
        background-image: url('/images/background-mobile.jpg');
    }
}

.heading-wrapper {
    background-color: #001f3f;
    margin-right: 5vw;
    padding: 2vw 1.5vw 2vw 2vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    display: block;
}

.heading-wrapper span {
    font-weight: bold;
    font-size: 2.8vw;
    color: #ffffff;
}

.section-wrapper {
    margin-top: 5px;
    padding: 0;
}

.section-content {
    padding: 2% 0;
    position: relative;
    width: 80%;
    margin: auto;
}
